<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head"></head>

<body class="animsition">
<div class="page-wrapper">
    <th:block th:replace="layout:: header-mobile"></th:block>

    <th:block th:replace="layout:: menu-sidebar"></th:block>


    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <th:block th:replace="layout:: header-desktop"></th:block>


        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <input type="hidden" th:value="${message}" id="Message">
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card-header">
                                <a th:href="@{/product/listProduct}">
                                    <button type="primary" class="btn btn-primary btn-sm">
                                        <strong>Back to list Product</strong>
                                    </button>
                                </a>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <strong>Create Product</strong>
                                </div>
                                <div class="card-body card-block">
                                    <form method="post" class="form-horizontal"
                                          th:action="@{/product/saveProduct}" th:object="${product}"
                                          ENCTYPE="multipart/form-data">
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">Name</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" th:field="*{productName}"
                                                       placeholder="Name" required="required"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label"></label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <h6 style="color: red" class="alert alert-warning"
                                                    th:if="${#fields.hasErrors('productName')}"
                                                    th:errors="*{productName}">>Name Error</h6>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">Price</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" th:field="*{price}"
                                                       placeholder="Name" required="required"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label"></label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <h6 style="color: red" class="alert alert-warning"
                                                    th:if="${#fields.hasErrors('price')}"
                                                    th:errors="*{price}">>Name Error</h6>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">Images</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="hidden" th:field="*{imageUrl}"
                                                       placeholder="Name"
                                                       class="form-control" multiple="multiple">

                                                <input type="file" th:field="*{image}"
                                                       placeholder="Name"
                                                       class="form-control" multiple="multiple">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">Product Type</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <select class="form-control" th:field="*{productType}">
                                                    <option value="" selected>Select Product Type</option>
                                                    <option th:each="pro : ${productType}" th:value="${pro.id}"
                                                            th:utext="${pro.typeName}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-success btn-sm">
                                                <i class="fa fa-dot-circle-o"></i> Save
                                            </button>
                                            <button type="reset" class="btn btn-danger btn-sm">
                                                <i class="fa fa-ban"></i> Reset
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a
                                        href="https://colorlib.com">Colorlib</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<footer th:replace="layout::footer"></footer>

<script>
    const message = document.getElementById("Message").value;
    if (message != "") {
        if (message.startsWith("Lỗi: ")) {
            toastr.error(message,  'Message')
        } else {
            toastr.success(message, 'Message');
        }
    }

</script>
</body>
</html>