<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head"></head>

<body class="animsition">

<div class="page-wrapper">
    <th:block th:replace="layout:: header-mobile"></th:block>

    <th:block th:replace="layout:: menu-sidebar"></th:block>

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <th:block th:replace="layout:: header-desktop"></th:block>

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">

                    <div class="row">
                        <div style=" margin-bottom: 1rem;     margin-left: 1rem;";>
                            <a th:href="@{/customer/createCustomer}">
                                <button type="button" class="btn btn-success">
                                    <i class="fa fa-dot-circle-o"></i> Add
                                </button>
                            </a>
                        </div>
                        <di class="clear"></di>
                        <div class="col-12 col-md-12" th:if="${message!=null}">
                            <div class="alert alert-success"><i th:text="${message}"></i></div>
                        </div>
                        <div class="col-md-12">
                            <!-- DATA TABLE -->
                            <h3 class="title-5 m-b-35" style="    margin-bottom: 0px;">List Customer</h3>
                            <div class="table-responsive table-responsive-data2">
                                <table class="table table-data2">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Address</th>
                                        <th>Phone Number</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="tr-shadow" th:each="list : ${customerList}">
                                        <td th:text="${list.customerName}"></td>
                                        <td th:text="${list.email}"></td>
                                        <td th:text="${list.address}"></td>
                                        <td th:text="${list.phoneNumber}"></td>
<!--                                        <td th:text="${list.province.provinceName}"></td>-->
                                        <td>
                                            <div class="table-data-feature">
                                                <a th:href="@{/customer/{id}/view(id=${list.id})}">
                                                    <button class="item" data-toggle="tooltip" data-placement="top"
                                                            title="View">
                                                        <i class="zmdi zmdi-eye"></i>
                                                    </button>
                                                </a>
                                                <a th:href="@{/customer/{id}/edit(id=${list.id})}">
                                                    <button class="item" data-toggle="tooltip" data-placement="top"
                                                            title="Edit">
                                                        <i class="zmdi zmdi-edit"></i>
                                                    </button>
                                                </a>
                                                <a th:href="@{/customer/{id}/delete(id=${list.id})}">
                                                    <button class="item" data-toggle="tooltip" data-placement="top"
                                                            title="Delete">
                                                        <i class="zmdi zmdi-delete"></i>
                                                    </button>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- END DATA TABLE -->
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a
                                        href="https://colorlib.com">Colorlib</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<footer th:replace="layout::footer"></footer>
</body>
</html>