<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">

</head>
<body class="animsition">
<div class="page-wrapper">
    <th:block th:replace="layout:: header-mobile"></th:block>

    <th:block th:replace="layout:: menu-sidebar"></th:block>


    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <th:block th:replace="layout:: header-desktop"></th:block>


        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-12 col-md-12" th:if="${message!=null}">
                                    <div class="alert alert-success"><i th:text="${message}"></i></div>
                                </div>
                            </div>
                            <div class="card-header">
                                <a th:href="@{/posts/listPosts}">
                                    <button type="primary" class="btn btn-primary btn-sm">
                                        <strong>Back to list Posts</strong>
                                    </button>
                                </a>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <strong>Delete Posts</strong>
                                </div>
                                <div class="card-body card-block">
                                    <form method="post" class="form-horizontal"
                                          th:action="@{/posts/deletePosts}" th:object="${posts}"
                                          ENCTYPE="multipart/form-data">

                                        <input type="hidden" th:field="*{id}">
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">Title</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" th:field="*{title}"
                                                       placeholder="Name" required="required"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">Short Content</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" th:field="*{shortContent}"
                                                       placeholder="Name" required="required"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">Full Content</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                            <textarea name="fullContent" id="fullContent"
                                                      placeholder="Full Content" th:field="*{fullContent}"
                                                      class="form-control">
                                            </textarea>
                                            </div>
                                            <div id="check-summernote"></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">Date</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" th:field="*{publishDate}"
                                                       placeholder="Name" required="required"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">Images</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="hidden" th:field="*{imageUrl}"
                                                       placeholder="Name"
                                                       class="form-control" multiple="multiple">

                                                <input type="file" th:field="*{image}"
                                                       placeholder="Name"
                                                       class="form-control" multiple="multiple">
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">Category</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <select class="form-control" th:field="*{category}">
                                                    <option value="" selected>Select Product Type</option>
                                                    <option th:each="cate : ${listCategory}" th:value="${cate.id}"
                                                            th:utext="${cate.nameCategory}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-success btn-sm">
                                                <i class="fa fa-dot-circle-o"></i> Delete
                                            </button>
                                            <button type="reset" class="btn btn-danger btn-sm">
                                                <i class="fa fa-ban"></i> Reset
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a
                                        href="https://colorlib.com">Colorlib</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<footer th:replace="layout::footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
<script>
    $('#fullContent').summernote({
        tabsize: 2,
        height: 100,
        toolbar: [
            // [groupName, [list of button]]
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['fontsize', ['fontsize']],
            ['fontName', 'Josefin Sans'],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['height', ['height']]
        ]
    });
    $("#form").on('submit', function (e) {
        if ($('#fullContent').summernote('isEmpty')) {
            console.log("fill")
            $("#check-summernote").html('contents is empty, fill it!');
            e.preventDefault();
        }
        console.log("ok")
    })
</script>
</body>
</html>